:root{
    --background-color1: #181818;
    --background-color2: #0f0f0f;
    --orange-color: #FF6700;

}

body{
    background-color: var(--background-color1);
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
h1{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(24, 99%, 58%);
    position: relative;
    left: 50%;
    top: 20%;
    text-align: center;
}
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
  
    #twitter-logo{
        width: 2rem;
    }
    
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
   
    #twitter-logo{
        width: 1.4rem;
    }
}

@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
   
    #twitter-logo{
        width: 1.4rem;
        }
}

a{
    color: var(--background-color1);
}
#contact{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
}
svg{
  margin: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

.twitter:hover{
    color: white;
}
svg:hover{ 
    fill: hsl(24, 100%, 60%);
}

