body {
  margin: 0;
  padding: 0;
  background-color: black;
}

h1 {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  color: white ;
}
#contact {
  position: fixed;
  bottom: 20px; 
  right: 20px;
}
svg {
      fill: white;
}