:root{
    --background-color1: #181818;
    --background-color2: #0f0f0f;


}

body{
    background-color: var(--background-color2);
    font-family: 'Josefin Sans', sans-serif;
}

#smiley{
    
    position: absolute;
    top: 10%;
    right: 10%;
}

.options{
    font-size: 2rem;
    color: #ffffff;
    position: absolute;
    left: 20%;
    top: 40%;
    
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-shadow: 0.1px 0.1px 3px #ffbe55;
}
li{
    list-style-type: none;
    
}

h1{
    font-size: 2rem;
    color: white;
    position: absolute;
    left: 20%;
    top: 40%;
}

footer{
    position: absolute;
    bottom: 2%;
    right: 2%;
    
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    #smiley{
        width: 19rem;
        position: absolute;
        top: 9%;
        right: 9%;
      }

    .options{
        font-size: 1.8rem;
        color: white;
        position: absolute;
        left: 15%;
        top: 39%;
        
    }
    #twitter-logo{
        width: 2rem;
    }
    
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    #smiley{
        width:10rem;
      }

    .options{
        
        color: white;
        position: absolute;
        left: 10%;
        top: 38%;
        font-size: 1.4rem;
        
    }
    #twitter-logo{
        width: 1.4rem;
    }
}

@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    #smiley{
        width: 10rem;
        position: absolute;
        top: 10%;
        right: 10%;
        }

    .options{
        color: white;
        position: absolute;
        left: 10%;
        top: 38%;
        font-size: 1.4rem;
        
        }
    #twitter-logo{
        width: 1.4rem;
        }
}


svg {
    fill:rgb(9, 206, 250);
    margin: 0.5rem;
}